*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Roboto';
    line-height: 1.5;
    background-color: #E1DDD4;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
::-webkit-scrollbar {
    display: none;
}  
.clear{
    clear: both;
}
.header{
    width: 100%;
    padding-top: 25px;
}
.container{
    max-width: 1150px;
    margin: auto;
}
.cta_primary{
    padding: 15px 40px;
    background-color: #4c4b42;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.cta_secondary{
    padding: 15px 53px;
    background-color: #4c4b42;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.5s ease;
}
.cta_primary:hover,
.cta_secondary:hover{
    background-color: #93634a;
}
.hover {
    overflow: hidden;
    position: relative;
}
.hover:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #000;
    height: 1.4px;
    transition: width 0.25s ease-out;
}
.hover:hover:after,
.hover:focus:after,
.hover:active:after {
    left: 0;
    right: auto;
    width: 100%;
}
.logo{
    float: left;
    font-size: 22px;
    padding-top: 8px;
}
.header nav{
    float: right;
    padding-top: 10px;
}
.header nav li{
    float: left;
    letter-spacing: .1px;
    margin-left: 40px;
}
.header nav li a{
    font-size: 16px;
    font-weight: 400;
}
.header nav .cta_primary{
    margin-left: 40px;
}
.hero{
    margin-top: 115px;
    margin-bottom: 115px;
}
.hero h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 55px;
    margin-bottom: 40px;
}
.hero img{
    width: 100%;
    height: 420px;
}
.work{
    margin: 0 auto;
    width: 100%;
}
.work h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
}
.work_content{
    float: left;
    width: 46%;
}
.work img{
    transition: all 0.5s ease;
}
.work img:hover{
    transform: scale(1.2);
}
.work a:nth-of-type(1) .work_content{
    margin: 60px 0 0 0;
}
.work a:nth-of-type(2) .work_content{
    margin: 180px 0 0 0;
}
.work a:nth-of-type(3) .work_content{
    margin: -40px 0 0 0;
}
.work a:nth-of-type(4) .work_content{
    margin: 90px 0 0 0;
}
.work a:nth-of-type(5) .work_content{
    width: 100%;
    margin: 80px 0 152px 0;
}
.work a:nth-of-type(1) .work_content, 
.work a:nth-of-type(3) .work_content{
    margin-right: 8%;
}
.work a:nth-of-type(1) .work_image, 
.work a:nth-of-type(2) .work_image,
.work a:nth-of-type(3) .work_image, 
.work a:nth-of-type(4) .work_image {
    height: 600px;
    overflow: hidden;
}
.work a:nth-of-type(5) .work_image{
    width: 100%;
    overflow: hidden;
}
.work_content .title{
    font-size: 21px;
}
.work_content .category{
    color: #8a8a87;
    float: right;
    margin: -40px 0 0 0;
}
.contact{
    padding-bottom: 150px;
}
.contact h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    padding-top: 90px;
    margin: 0 0 40px 0;
}
.footer{
    padding-top: 100px;
    padding-bottom: 50px;
    height: 105px;
    font-size: 11px;
    font-weight: 400;
}
.footer .copyright_text{
    text-align: center;
    float: left;
}
.footer .email{
    float: left;
    margin-right: 400px;
}
.footer .social_media{
    float: right;
}
.footer .social_media li{
    display: inline;
    margin: 10px;
}
